aiohttp
beautifulsoup4
cryptg # For Telethon 
dnspython
ffmpeg-python
gitpython
heroku3
hachoir # for Telethon 
loguru
lyricsgenius
motor
psutil
pytube
pillow # Not used just for telethon image compression 
py-tgcalls
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
Telethon
urllib3
uvloop
flask
gunicorn
youtube-search
youtube-search-python
yt-dlp
git+https://github.com/KurimuzonAkuma/pyrogram@dev
git+https://github.com/Vivekkumar-IN/yt-dlp-youtube-oauth2
git+https://github.com/TelegramPlayGround/pyrogram-tgcrypto
git+https://github.com/Vivekkumar-IN/pykeyboard
